# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.wrangler
.dev.vars
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage

# Misc
*.local
